%%%----------------------------------------------------------------------
%%%
%%% ejabberd, Copyright (C) 2002-2017   ProcessOne
%%%
%%% This program is free software; you can redistribute it and/or
%%% modify it under the terms of the GNU General Public License as
%%% published by the Free Software Foundation; either version 2 of the
%%% License, or (at your option) any later version.
%%%
%%% This program is distributed in the hope that it will be useful,
%%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%%% General Public License for more details.
%%%
%%% You should have received a copy of the GNU General Public License along
%%% with this program; if not, write to the Free Software Foundation, Inc.,
%%% 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
%%%
%%%----------------------------------------------------------------------

%% Macros
{roster_gateway_workaround, false}.
{full_xml, false}.
{db_type, generic}.
{debug, true}.
{hipe, false}.
{new_sql_schema, false}.

%% Ad-hoc directories with source files
{tools, false}.

%% Dependencies
{odbc, false}.
{mysql, false}.
{pgsql, false}.
{sqlite, false}.
{pam, false}.
{zlib, true}.
{riak, false}.
{redis, false}.
{elixir, false}.
{iconv, false}.
{stun, false}.
{sip, false}.

%% Version
{vsn, "18.12.1"}.

%% Variables for overlay template files

%% Platform-specific installation paths
{release, true}.
{release_dir, "${SCRIPT_DIR%/*}"}.
{sysconfdir, "{{release_dir}}/etc"}.
{installuser, ""}.
{erl, "{{release_dir}}/{{erts_vsn}}/bin/erl"}.
{epmd, "{{release_dir}}/{{erts_vsn}}/bin/epmd"}.
{localstatedir, "{{release_dir}}/var"}.
{libdir, "{{release_dir}}/lib"}.
{docdir, "{{release_dir}}/doc"}.

{latest_deps, false}.
{system_deps, false}.

{ldflags, "-L/usr/local/opt/openssl/lib -L/usr/local/lib -L/usr/local/opt/expat/lib"}.
{cflags, "-I/usr/local/opt/openssl/include/ -I/usr/local/include -I/usr/local/opt/expat/include"}.
{cppflags, "-I/usr/local/opt/openssl/include/ -I/usr/local/include -I/usr/local/opt/expat/include"}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
